PORT=3000
SESSION_SECRET=ganti-dengan-rangkaian-acak-yang-panjang
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dashboard_epis
DB_USER=root
DB_PASSWORD=
DB_CONNECTION_LIMIT=10
DEFAULT_ADMIN_PIN=9999
DEFAULT_BE_PIN=1234
