NODE_ENV=production
SESSION_SECRET=ganti-dengan-rangkaian-acak-minimal-32-karakter
DB_HOST=localhost
DB_PORT=3306
DB_NAME=cpaneluser_dashboard_epis
DB_USER=cpaneluser_dashboard
DB_PASSWORD=ganti-dengan-password-database
DB_CONNECTION_LIMIT=5
DB_AUTO_CREATE=false
DEFAULT_ADMIN_PIN=9999
DEFAULT_BE_PIN=1234
